.links {
    cursor: pointer;
    color: #0645ad;
  }
  .links:hover,
  .links:focus {
    text-decoration: underline;
  }
  .links:visited {
    color: #1c59a8
  }
  .links:active {
    color: #297edf
  }